<div class="jumbotron">
    <h1>Cash Flow Finances</h1>
    <p class="lead">An Open API to store financial information securely and Track your information overtime</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Find your Net Worth</h2>
        <p>Our easy to use form calculates your net worth based on your assets and liabilities</p>
    </div>
    <div class="col-md-4">
        <h2>Other Shit we do</h2>
        <p>Give access to other shit for financial stuff that we offer</p>
    </div>
    <div class="col-md-4">
        <h2>Easy to use Docs</h2>
        <p>With a little bit of knowledge on APIs you can get up and running in no time</p>
    </div>
</div>
